.root{
    -fx-background-color: #8fbc8f;
}
.label{
    -fx-text-fill: white;
}
.button{
    -fx-background-color: #e8e8e8;
    -fx-text-fill: black;
    -fx-background-radius: 4;
}
.button-blue{
    -fx-background-color: #blue;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
}